html {
    font-family: "Varela Round", sans-serif;
}
body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 85vh;
    height: 100vh;
    width: 200px;
    background: linear-gradient(180deg, #000000 22%, #350a53 47%, #7435a1 69%, #c5b6d0 86%);
    a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }
    i {
        color: #fff;
        cursor: pointer;
        display: block;
    }
    .fa-gear {
        display: none;
    }
    img {
        width: 50%;
    }
    &.dark {
        background: linear-gradient(180deg, #292ec7 0%, #080b66 33%, #000000 57%);
        .fa-moon.dark {
            display: none;
        }
        .fa-gear.dark {
            display: block;
        }
    }
}

.right {
    width: 100%;
    background: url(../images/bg1.png) bottom right / 30% no-repeat;
    nav {
        background-color: rgb(232, 227, 243);
        display: inline-block;
        width: 100%;
    }
    ul {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        list-style-type: none;
        a {
            text-decoration: none;
            color: rgb(146, 108, 146);
            &:hover {
                color: rgb(73, 1, 73);
            }
        }
        .foot {
            a {
                color: rgb(73, 1, 73);
            }
        }
    }
    .banner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        div {
            padding: 15px;
            border-radius: 0 0 10px 0;
            background-color: rgba(224, 202, 224, 0.338);
        }
        .country {
            background-color: rgb(253, 204, 253);
            &.dark {
                background-color: #9fa1d7;
            }
        }
        
        div:nth-of-type(2) {
            position: relative;
            left: -5px;
            z-index: -1;
        }
    }
    .bets {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }
    .bets.dark {
        .button:hover {
            border-color: #292ec7;
            background-color: #9fa1d7;
        }
        .button.purple {
            border-color: #292ec7;
            background-color: #9fa1d7;
        }
    }
    .line {
        div {
            text-align: center;
        }
        display: grid;
        grid-template-columns: 500px 50px 50px 50px;
        grid-template-rows: 50px;
        gap: 0 10px;
        align-items: center;
        .game {
            margin-left: 30px;
            display: flex;
            justify-content: flex-start;
            gap: 10px;

        }
        .button {
            cursor: pointer;
            border: 1px lightgray solid;
            border-radius: 8px;
            padding: 10px;
            &:hover, &.purple {
                border-color: purple;
                background-color: plum;
            }
        }  
    }
}

.your_bets {
    position: absolute;
    width: 300px;
    bottom: 0;
    right: 100px;
    text-align: center;
    background-color: #5b118e;
    color: #fff ;
    &.dark {
        background-color: #080b66;
    }
    
    border-radius: 8px 8px 0 0;
    .title {
        padding: 10px 0;
    }
    .content {
        box-sizing: border-box;
        background: #fff;
        width: 100%;
        overflow-y: auto;
        max-height: 250px;
        color: #000;
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 20px;

        .single-line {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 7px;
            * {
                text-align: left;
            }
        }
        .teams {
            font-size: 10px;
        }
        .calc {
            display: flex;
            justify-content: space-between;
        }
        .bin {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    }
    .placing {
        padding: 10px 30px;
        background-color: #fff;
        display: grid;
        grid-template-columns : 100px 70px;
        gap: 10px 30px;
        align-items: end;
        color: #000;
        * {
            text-align: left;
            font-size: 14px;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
        &.hidden {
            display: none;
        }
    }
}
